body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3470a45c, #3470a4a0);
    color: #333;
}

header {
    background-color: #236084;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 80px;
}

nav {
    background-color: #608ba3;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #e6663f;
    color: white;
}

main {
    padding: 20px;
}
.tutorial {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #204a64;
    color: white;
    bottom: 0;
}
h2{
    color: cadetblue;
    margin: 15px;
    text-align: center;
}
.df {
    margin: 10px;
    text-align: justify;
}
.h1 {
    margin: 10px;
    color: red;
    text-shadow: #ffffff;
}
.im {
    height: 46%;
    width: 46%;
    border: black;
    box-shadow:0px 0px 10px black;
    align-self: center;
    margin-left: 30px;
    margin-right: 25px;
 
}
section {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background: #ffffff;
    padding: 15px;
    background: linear-gradient(to bottom, #d1e3eb8d, #cbdefa8e);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}
.stars {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 3s infinite alternate;
}
 